*/node_modules
client/skavislavad/skavislavad.xcodeproj/project.xcworkspace/xcuserdata/
client/skavislavad/skavislavad.xcworkspace/xcuserdata/
client/skavislavad/Pods/
client/skavislavad/skavislavad.xcodeproj/xcuserdata/
